 <div class="container-fluid">
            <div class="col-md-9">
                <video class="video" id="player" controls ng-src="{{getVideoSrc(beingPlayed_infoHash,beingPlayed_filePath)}}">
                </video>
            </div>
            <div class="col-md-3">
                    <div class="title">Chatroom ({{chatUserCount}} personnes)</div>
                    <textarea class="type" name="message" cols="40" rows="3"></textarea>
                    <input type="button" class="submit" value="ENVOYER" ng-click="chatSendMessage(chatMessage)"></input>
                    <div class="chatbox">
                        <ul id="chat">
                            <li ng-repeat="chatMessage in chatMessages"><strong>{{chatMessage.nickname}}</strong> : {{chatMessage.message}}</li>
                        </ul>
                    </div>
                    
                    <input type="text" placeholder="Chatter..." ng-model="chatMessage">
                    <!-- <a ng-click="removeAll()">removeall</a> -->
            </div>
</div>

        
        
        <span ng-hide="timeLeft === false">
            temps restant : {{timeLeft}}
        </span>
        