<div class="container-fluid chatOnly">
	<div class="col-md-12">
		<div class="title">
			Chatroom : {{chatUserCount}} personne(s)
			<span ng-hide="timeLeft === false">
            <br/>Débute dans : {{timeLeft}}
            </span>
		</div>
		<ul id="chat">
			<li ng-repeat="chatMessage in chatMessages"><strong>{{chatMessage.nickname}}</strong> : {{chatMessage.message}}</li>
		</ul>
		<input id="chatMessage" class="type" name="message" type="text" placeholder="Chatter..." ng-model="chatMessage" ng-enter="chatSendMessage(chatMessage)">
		<input type="button" class="submit" value="ENVOYER" ng-click="chatSendMessage(chatMessage)"></input>
		<div style="clear: both;">
		</div>
		<!-- <a ng-click="removeAll()">removeall</a> -->
	</div>
</div>